# archivos que se generan al compilar un archivo.tex desde neovim
*.log
*.aux
*.fdb_latexmk
*.fls
*.synctex.gz
*.toc
*.out
*.latexmain

# archivos topología
apuntes-2025-2/topologia/clases/

!apuntes-2025-2/topologia/clases/contenido/
!apuntes-2025-2/topologia/clases/clase-topologia.pdf
!apuntes-2025-2/topologia/clases/clase-topologia.tex

# archivos teoría de integración
apuntes-2025-2/teoria_de_integracion/clases/

!apuntes-2025-2/teoria_de_integracion/clases/contenido/
!apuntes-2025-2/teoria_de_integracion/clases/clase-integracion.pdf
!apuntes-2025-2/teoria_de_integracion/clases/clase-integracion.tex

# archivos ecuaciones diferenciales
apuntes-2025-2/ecuaciones_diferenciales_ordinarias/

# archivos estadística
apuntes-2025-2/estadistica/
